version: "3.9"

services:

  db:
    image: postgres:16
    container_name: gym_db
    restart: always
    environment:
      POSTGRES_DB: gymapp
      POSTGRES_USER: gymuser
      POSTGRES_PASSWORD: gympass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: gym_backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: gym_frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  pgdata:
